
  body {
      background-color: #011C13;
  }
.topRow {
    display: flex;
    flex-direction: column;
    margin: 70px 20px 0 20px;
   
}
.recipeContainer {
    
    width: 55vw;
    height: 300px;
    background-color: #4CBABD;
    margin: 20px auto;
    /* padding-top: 20px; */
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    border-radius: 35px;
    
}
.recipeContainer h3 {
    font-family: 'Dancing Script', cursive;
}

.recipeCard {
   
    padding-top: 0px;
    width: 98%;
    height: 84%;
    margin: 0 auto;
    background-color: #E3D2C7;
    display: flex;
    flex-direction: row;
    border-radius: 35px;
}
.recipeImage {
   margin: 0px 0 0px 0px;
   width: 252px;
   height: 252px;
   border-radius: 35px 0 0 35px;
}
.recipeText {
    margin: auto;
   
    color: #011C13;
    font-family: 'Dancing Script', cursive;
}
.boldText {
    font-weight: bold;
    font-size: 20px;

}