
.Create {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	padding: 20px;
	width: auto;
	border: 3px solid #4CBABD
}

.Create h2 {
	width: 20%;
	min-width: 200px;
	margin: 20px auto;
	font-size: 20px;
	color: #67615C;
	font-weight: bold; 
}

.Create-Form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
}

.Create-Form p {
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
}

.Create-Input {
	width: 20%;
	min-width: 200px;
	margin: 5px auto 20px auto;
}

.Create-Button {
	width: 10%;
	margin: 0 auto;
	min-width: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #67615C;
	opacity: .8; /* Firefox */
  }

.IngredientModifierButtons {
	display: inline;
	margin: 0 auto;
	padding-right: 5%;
}

ul .IngredientModifierButtons {
	padding: 0px 40px;
	line-height: 24px;
}

.buttonMinus {
	width: 25px;
	margin-right: 5px;
}

.ingredientList {
	margin: 0 auto;
}

.Create-Form{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
h2{
	background: black;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: teal;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
input[type="text"],
textarea, .instructions
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
textarea{
	resize:none;
	overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
input[type="button"]:hover, 
input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
