
.Create {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	padding: 20px;
	width: auto;
	border: 3px solid #4CBABD
}

.Create h2 {
	width: 20%;
	min-width: 200px;
	margin: 20px auto;
	font-size: 20px;
	color: #67615C;
	font-weight: bold; 
}

.Create-Form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
}

.Create-Form p {
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
}

.Create-Input {
	width: 20%;
	min-width: 200px;
	margin: 5px auto 20px auto;
}

.Create-Button {
	width: 10%;
	margin: 0 auto;
	min-width: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #67615C;
	opacity: .8; /* Firefox */
  }