form {
    margin: 0 30% 0 30%;
}

.white-form {
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 90px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
