
.background {
    position: relative;
    top: -30px;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(102, 243, 236, 0.4), 
        rgba(21, 138, 122, 0.1)), 
        url(../rustic-vegan.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

.largeLogo h1 {
    position: absolute;
    top: 49%;
    left: 28%;
    padding: 0;
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
}

.about-text {
    width: 45vw;
    color:hsl(210, 11%, 15%);
    font-family: Roboto, sans-serif;
    display: flex;
    line-height: 24px;
    margin: 0px 0px 16px;
    text-align: center;
    justify-content: right;
    margin-left: 28%;
}

.about-text p {
    align-items: center;
    
}

@media only screen and (max-width: 780px) {
    .largeLogo h1 {
        font-size: 5rem;
    }
  }

@media only screen and (max-width: 700px) {
    .largeLogo h1 {
        font-size: 4rem;
    }
  }
